body {
    font-family: Arial, sans-serif;
    background-color: #f7f3e9;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
}

header {
    background-color:#12355c;
    text-align: center;
    padding: 20px;
    color: white;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

article {
    background-color:#f3eae8;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h3 {
    color: #0e3f5c;
    border-bottom: 2px solid #0e3f5c;
    padding-bottom: 5px;
    text-align: center;
}

progress {
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    background-color: #fffaf2;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #0e3f5c;
    border-radius: 5px;
}

article div {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center
}
article div a {
    color: #0e3f5c;
    text-decoration: none;
}

.bi {
    font-size: 24px;
    color: #0e3f5c;
}
.habilidades {
    display: flex;
}
h1, h2, h3, p {
    font-family: Georgia, 'Times New Roman', Times, serif
}
